.grid-item {
  padding: 20px;
  margin: 20px;
  border: #eee solid 1px;
  border-radius: 5px;
  display: inline-block;
  width: 250px;

  .image {
    text-align: center;
  }

  img {
    max-width: 200px;
  }

  .description {
    padding-top: 20px;
  }
}